@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
    <div class="d-flex justify-conyent-between align-itens-center">
        <h3>Role/Index</h3>
        <a asp-action="Create" class="btn btn-primany">Create new</a>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>RoleID</th>
                <th>RoleID Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>