<form asp-action="Index">
    <label>Nhập điểm A:</label>
    <input type="text" name="DiemA"><br>
    <label>Nhập điểm B: </label>
    <input type="text" name="DiemB"><br>
    <label>Nhập Điểm C: </label>
    <input type="text" name="DiemC"><br>
    <input type="submit" value="Gửi dữ liệu">
</form>