<h1>Dữ liệu từ Controllers gửi về là: @ViewBag.infoPerson </h1>
<form asp-action="Index">
    <label>Nhập Chiều cao :</label>
    <input type="text" name="chieucao">
    <label>Nhập cân nặng :</label>
    <input type="text" name="cannang">
    <input type="submit" value="Gửi dữ liệu">
</form>